[user]
	name = oe.gomez21
	email = oe.gomez21@info.uas.edu.mx
[core]
	autocrlf = true
	safecrlf = true
	editor = core.editor
[alias]
  gco = git checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h | %ad |   %s%d   [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p

